.asked {
  padding: 65px 0 170px;
  @media (max-width: 768px) {
    padding: 40px 0 100px;
  }
  &__wrapper {
  }
  &__title {
    color: #fff;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 104.167%;
    margin-bottom: 70px;
    @media (max-width: 768px) {
      font-size: 32px;
      margin-bottom: 48px;
    }
  }
}
